*{
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

/*FONTE*/
@import url('https://fonts.googleapis.com/css?family=Questrial');

/*--------Cabeçalho--------*/
.main-header{
    width: 100%;
    height: 50px;
    position: fixed;
    background: #280c3c;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.main-header-logo{
    width: 65px;
    font-size: 25px;
    color: #fff;
}

#main-header-search{
}
/*--------Fim Cabeçalho--------*/